.header h1{

}
.header{
    display: flex;
    align-items: center;
    padding-left: 10%;
}
.menu{
    display: flex; 
    flex: auto;
    position:fixed;
    right: 7%;
}
.menu-link{
    font-size: 24px;
    text-decoration: none;
    color: black;    
    padding: 5px;
}
.menu-link:hover{
    background-color: black;
    color: white;
}